* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

/*snackbar*/

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/*nav*/

nav {
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: green;
}

/*red dot*/

.jump {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 10px;
}

.jumping1, .jumping2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}

#web-cover .jump, #app-cover .jump {
  margin-left: 25px;
  margin-bottom: 25px;
}

/*home*/

#cover {
  padding: 0 12.5%;
  height: 75vh;
  background-color: #fff;
  position: relative;
}

#cover:before {
  content: "";
  display: inline-block;
  height: 65vh;
  vertical-align: middle;
}

#cover > div {
  display: inline-block;
  vertical-align: middle;
}

#cover > div > img {
  height: 50px;
}

#cover h1 {
  font-size: 72px;
  font-weight: 500;
  color: #030303;
  letter-spacing: 5px;
}

#cover h3 {
  font-size: 32px;
  font-weight: 100;
  color: #222222;
  letter-spacing: 4px;
}

.cover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 85vh;
  text-align: right;
}

.cover-img:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.cover-img > div {
  width: 56vw;
  max-width: 695px;
  margin-right: 2vw;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.cover-img .none {
  width: 100%;
  opacity: 0;
}

.cover-img .cover-bg {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.cover-img .browser {
  width: 66%;
  position: absolute;
  top: 17%;
  right: 15%;
  z-index: 2;
}

.cover-img .mobile {
  width: 17%;
  position: absolute;
  bottom: 12%;
  right: 21%;
  z-index: 2;
}

.cover-img .bucket {
  width: 8%;
  position: absolute;
  bottom: 12%;
  left: 38%;
  z-index: 2;
}

.cover-img .meerkat-ladder {
  width: 29%;
  position: absolute;
  bottom: 7%;
  left: 22%;
  z-index: 2;
}

.cover-img .meerkat-raise {
  width: 15%;
  position: absolute;
  bottom: 8%;
  left: 45%;
  z-index: 2;
}

.cover-img .meerkat-hold {
  width: 23%;
  position: absolute;
  bottom: 7%;
  right: 13%;
  z-index: 2;
}

.cover-img .meerkat-brush {
  width: 14%;
  position: absolute;
  top: 15%;
  right: 10%;
  z-index: 2;
}
.cover-img .meerkat-brush-body {
  width: 7%;
  position: absolute;
  top: 31%;
  right: 14%;
  z-index: 1;
}

.cover-img .meerkat-top {
  width: 8%;
  position: absolute;
  top: 6%;
  left: 35%;
  z-index: 1;
}

.cover-img .meerkat-top-hand {
  width: 14%;
  position: absolute;
  top: 14%;
  left: 32.1%;
  z-index: 2;
}

.cover-img .left-out-dot {
  width: 15.2px;
  position: absolute;
  top: 30%;
  left: 7%;
  z-index: 2;
}

.cover-img .bottom-out-dot {
  width: 12.2px;
  position: absolute;
  bottom: 5%;
  left: 59%;
  z-index: 2;
}

.cover-img .left-white-dot {
  width: 12.2px;
  position: absolute;
  bottom: 24%;
  left: 15%;
  z-index: 2;
}

.cover-img .right-white-dot {
  width: 12.2px;
  position: absolute;
  top: 36%;
  right: 9%;
  z-index: 2;
}

.cover-img .top-pink-dot {
  width: 12.2px;
  position: absolute;
  top: 9%;
  right: 27%;
  z-index: 2;
}

.cover-img .left-pink-dot {
  width: 21.1px;
  position: absolute;
  top: 39%;
  left: 15%;
  z-index: 2;
}

.cover-img .top-purple-dot {
  width: 21.1px;
  position: absolute;
  top: 8%;
  right: 34%;
  z-index: 2;
}

.cover-img .left-pink-stripe {
  width: 18%;
  position: absolute;
  bottom: 30%;
  left: 7%;
  z-index: 1;
}

.cover-img .right-pink-stripe {
  width: 14%;
  position: absolute;
  bottom: 43%;
  right: 6%;
  z-index: 1;
}

.cover-img .left-purple-stripe {
  width: 11%;
  position: absolute;
  bottom: 41%;
  left: 12%;
  z-index: 1;
}

.cover-img .right-purple-stripe {
  width: 11%;
  position: absolute;
  bottom: 38%;
  right: 7%;
  z-index: 1;
}

#services {
  padding: 32px 12.5% 27px;
  background-color: #fff;
  position: relative;
}

.section-title {
  font-size: 72px;
  font-weight: 900;
  color: #000000;
  display: inline-block;
}

.service {
  padding: 0 5%;
  margin: 100px auto 0;
}

.service-text {
  width: 69%;
  display: inline-block;
  vertical-align: middle;
}

.service:nth-child(2) {
  background-image: url('./images/01.png');
  background-size: 17vh;
  background-repeat: no-repeat;
}

.service:nth-child(6) {
  background-image: url('./images/03.png');
  background-size: 17vh;
  background-repeat: no-repeat;
}

.service > div h2 {
  font-size: 32px;
  font-weight: 300;
  color: #000000;
  margin: 0 0 14px 16px;
}

.service > div p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}

.service img.gif {
  width: 29%;
  vertical-align: middle;
}

.gif-div {
  width: 29%;
  display: inline-block;
}

.gif-div img.gif {
  width: 100%;
}

#projects {
  padding: 152px 12.5% 73px;
}

.project, .article {
  width: 90%;
  margin: 0 auto;
}

.project {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.article {
  margin-top: 60px;
}

.web, .app {
  width: 42%;
  background-image: url('./images/dot.png');
  background-size: 139px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.web img, .app img {
  width: 24vw;
}

.article img {
  width: 100%;
}

.project h4, .article h4 {
  font-size: 32px;
  font-weight: 500;
  color: #0f0f0f;
  margin-bottom: 14px;
}

.project a, .article a {
  font-size: 18px;
  font-weight: bold;
  color: #e95036;
  display: block;
}

.project p {
  margin-top: 13px;
}

.article p {
  margin-top: 5px;
}

.article h3 {
  font-size: 24px;
  font-weight: 500;
  color: #0f0f0f;
  margin-top: 13px;
}

#about {
  padding: 80px 12.5% 136px;
  background-color: #fff;
}

.belief, .members {
  width: 90%;
  margin: 0 auto;
}

.belief {
  margin-top: 64px;
}

.members {
  margin-top: 91px;
}

.belief h4, .members h4 {
  font-size: 32px;
  font-weight: 500;
  color: #e95036;
}

.belief h4 {
  margin-bottom: 17px;
}

.members h4 {
  margin-bottom: 32px;
}

.belief p {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
}

.members-intro {
  display: flex;
  justify-content: space-between;
}

.member {
  width: 43%;
  background-image: url('./images/dot.png');
  background-size: 139px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.member img {
  width: 22vw;
}

.member p:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  color: #e95036;
  margin-top: 14px;
}

.member p:nth-child(3) {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  margin-top: 4px;
}

#home-footer {
  height: 481px;
  display: flex;
  justify-content: center;
  position: relative;
}

#home-footer > img {
  position: absolute;
  top: 75px;
  padding-right: 55px;
  height: 70%;
}

#home-footer > div {
  width: 50%;
  padding-top: 87px;
}

#home-footer .contact-info-set {
  padding-left: 12.5%;
}

.contact-info-set > img {
  height: 30px;
  margin-right: 12px;
}

#home-footer .contact-form {
  padding-right: 12.5%;
  padding-left: 10%;
}

#home-footer > div a img {
  vertical-align: middle;
}

#home-footer h3 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 2.2px;
  color: #030303;
  display: inline-block;
  vertical-align: middle;
}

.contact-info h5 {
  font-size: 18px;
  font-weight: bold;
  color: #e95036;
  margin: 44px 0 19px;
}

.contact-info > div:nth-child(3) {
  margin: 15px 0 21px;
}

.contact-info > div img {
  width: 27px;
  margin-right: 10px;
  vertical-align: middle;
}

.contact-info > div p {
  font-size: 16px;
  color: #626262;
  display: inline-block;
  vertical-align: middle;
}

.contact-info > img, .contact-info a > img {
  width: 40px;
  margin-right: 18px;
}

.contact-form {
  background-image: url("./images/formBg.png");
  background-size: cover;
}

.contact-form h5, #web-contact h5, #app-contact h5 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.contact-form h5 {
  margin-left: 16px;
}

.contact-form form ::placeholder, #web-contact form ::placeholder, #app-contact form ::placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #cecac9;;
}

.contact-form form input, #web-contact form input, #app-contact form input {
  height: 40px;
  padding: 0 16px;
  border: none;
  border-radius: 24px;
  margin-top: 24px;
  display: block;
  outline: none;
}

.contact-form form textarea, #web-contact form textarea, #app-contact form textarea {
  height: 96px;
  padding: 12px 16px;
  resize: none;
  border: none;
  border-radius: 24px;
  margin-top: 16px;
  display: block;
  outline: none;
}

.contact-form form button, #web-contact form button, #app-contact form button {
  height: 40px;
  border: none;
  border-radius: 24px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #e95036;
  margin-top: 16px;
  display: block;
  outline: none;
}

.contact-form form input, .contact-form form textarea, .contact-form form button {
  width: 35vw;
  max-width: 300px;
}

/*專案文章*/

#web-top, #app-top {
  padding: 24px 32px;
  background-color: #fff;
}

#web-top img, #app-top img {
  margin-right: 17px;
  vertical-align: middle;
}

#web-top h3, #app-top h3 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2.2px;
  color: #030303;
  display: inline-block;
  vertical-align: middle;
}

#web-cover, #app-cover {
  padding: 48px 15vw;
}

#web-cover h1, #app-cover h1 {
  font-size: 32px;
  font-weight: 900;
  color: #000000;
  margin-bottom: 24px;
  display: inline-block;
}

#web-cover span, #app-cover span {
  font-size: 32px;
  font-weight: normal;
  color: #0f0f0f;
  margin-left: 16px;
}

#web-cover img, #app-cover img {
  width: 100%;
  margin-bottom: 24px;
}

#web-cover h3, #app-cover h3 {
  font-size: 32px;
  font-weight: 500;
  color: #0f0f0f;
  margin-bottom: 13px;
}

#web-cover p, #app-cover p {
  font-size: 24px;
  color: #000000;
  margin-bottom: 24px;
}

#web-cover a, #app-cover a, .medium a {
  width: 300px;
  height: 48px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  display: block;
  line-height: 48px;
  text-align: center;
  border-radius: 24px;
  margin: 0 auto;
}

#web-cover a, #app-cover a, .medium > div a:nth-child(2) {
  background-color: #e95036;
}

.medium > div a:nth-child(1) {
  background-color: #313131;
}

#web-content, #app-content {
  padding: 48px 20vw;
  background-color: #fff;
  position: relative;
}

#web-content > div, #app-content > div {
  margin-bottom: 48px;
}

#web-content h4, #app-content h4 {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}

#web-content p, #app-content p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}

#web-content .medium h4, #app-content .medium h4 {
  font-size: 32px;
  font-weight: 500;
  color: #0f0f0f;
  margin-bottom: 24px;
}

.medium img {
  width: 100%;
  margin-bottom: 16px;
}

.medium h3 {
  font-size: 24px;
  font-weight: 500;
  color: #0f0f0f;
  margin-bottom: 49px;
}

.medium > div {
  display: flex;
  justify-content: space-between;
}

.medium a {
  width: 47%;
  max-width: 300px;
}

#web-content a.back-arrow, #web-content a.next-arrow, #app-content a.back-arrow, #app-content a.next-arrow {
  font-size: 18px;
  font-weight: bold;
  color: #e95036;
}

#web-content a.next-arrow, #app-content a.next-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
}

#web-contact, #app-contact {
  height: 399px;
  background-color: #313131;
  text-align: center;
  padding-top: 48px;
}

#web-contact form, #app-contact form {
  display: inline-block;
  margin: 0 auto;
}

#web-contact form input, #web-contact form textarea, #web-contact form button,
#app-contact form input, #app-contact form textarea, #app-contact form button {
  width: 300px;
}

#web-footer, #app-footer {
  padding: 30px;
  text-align: center
}

#web-footer > div, #app-footer > div {
  margin-bottom: 12px;
}

#web-footer > img:nth-child(1), #app-footer > img:nth-child(1) {
  vertical-align: middle;
}

#web-footer h6, #app-footer h6 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.3px;
  color: #030303;
  display: inline-block;
  vertical-align: middle;
}

#web-footer p, #app-footer p {
  font-size: 16px;
  color: #db3324;
  margin-bottom: 8px;
}

#web-footer img, #app-footer img {
  width: 26px;
}



@media only screen and (max-width: 1005px) {
  .cover-img div {
    width: 50vw;
  }
}

@media only screen and (max-width: 855px) {
  #cover h1 {
    font-size: 48px;
  }

  #cover h3 {
    font-size: 24px;
  }

  .cover-img div {
    width: 50vw;
  }

  .section-title {
    font-size: 48px;
  }
}

@media only screen and (max-width: 740px) {
  #cover {
    padding: 0 8.5vw;
  }

  #services {
    padding: 48px 8.5vw;
  }

  .service {
    margin: 5vh auto 0;
    padding: 7vh 0 0;
    position: relative;
  }

  .service-text {
    width: 100%;
  }

  .service > div h2 {
    font-size: 24px;
  }

  #service-1::after {
    content: "";
    width: 240px;
    height: 240px;
    background-image: url('./images/workshop.gif');
    background-repeat: no-repeat;
    background-size: 240px;
    background-position: right;
    margin: 16px auto 0;
    display: block;
  }

  #service-2::after {
    content: "";
    width: 240px;
    height: 240px;
    background-image: url('./images/drawing.gif');
    background-repeat: no-repeat;
    background-size: 240px;
    background-position: right;
    margin: 16px auto 0;
    display: block;
  }

  #service-3::after {
    content: "";
    width: 240px;
    height: 240px;
    background-image: url('./images/digging.gif');
    background-repeat: no-repeat;
    background-size: 240px;
    background-position: right;
    margin: 16px auto 0;
    display: block;
  }

  #service-4::after {
    content: "";
    width: 240px;
    height: 240px;
    background-image: url('./images/interviewing.gif');
    background-repeat: no-repeat;
    background-size: 240px;
    background-position: right;
    margin: 16px auto 0;
    display: block;
  }

  .gif {
    display: none;
  }

  #home-footer {
    height: 851px;
    display: block;
  }

  #home-footer > div {
    width: 100%;
    display: block;
  }

  #home-footer .contact-form {
    padding: 48px 0;
    padding-right: 8.5vw;
    padding-left: 8.5vw;
    background-color: #303030;
    text-align: center;
  }

  .contact-form form {
    width: 300px;
    margin: 0 auto;
  }

  .contact-form form input, .contact-form form textarea, .contact-form form button {
    width: 300px;
  }

  #home-footer > img {
    width: 30vw;
    max-width: 160px;
    height: auto;
    top: 475px;
    right: 14vw;
    padding-right: 0;
  }

  #home-footer .contact-info-set {
    height: 426px;
    position: absolute;
    bottom: 0;
    padding: 64px 17vw;
  }

  .contact-info h5 {
    margin: 24px 0 19px;
  }

  .contact-info img, .contact-info a > img {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  #cover {
    padding-top: 50px;
  }

  #cover:before {
    display: none;
  }

  .cover-img {
    position: static;
    width: 95%;
    height: auto;
    text-align: center;
    margin-top: 16px;
  }

  .cover-img:before {
    display: none;
  }

  .cover-img div {
    width: 100%;
    margin-right: 0;
  }

  .section-title {
    font-size: 48px;
  }
}

/*-------------手機版-------------*/

@media only screen and (max-width: 430px) {
  /*nav*/
  nav {
    display: block;
    width: 100vw;
    height: 48px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .menu-btn {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0;
    opacity: 0;
  }

  .menu-btn:checked ~ .nav-content {
    visibility: visible;
    opacity: 1;
    padding: 100px 8.5vw 0;

    -ms-transition: visibility 0s, padding .2s ease-out;
    -webkit-transition: visibility 0s, padding .2s ease-out;
    transition: visibility 0s, padding .2s ease-out;
  }

  .menu-btn:checked ~ .nav-bar .nav-bar-1 {
    margin: 0;
    -ms-transform-origin: center center;
    -ms-transform: rotate(45deg);
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(45deg);
    transform-origin: center center;
    transform: rotate(45deg);
    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }

  .menu-btn:checked ~ .nav-bar .nav-bar-2 {
    visibility: hidden;

    -ms-transition: all 0s ease-out 0s;
    -webkit-transition: all 0s ease-out 0s;
    transition: all 0s ease-out 0s;
  }

  .menu-btn:checked ~ .nav-bar .nav-bar-3 {
    opacity: 1;
    margin: 0;
    display: block;
    -ms-transform-origin: center center;
    -ms-transform: translate(12.5px, -21px) rotate(-45deg);
    -webkit-transform-origin: center center;
    -webkit-transform: translate(12.5px, -21px) rotate(-45deg);
    transform-origin: center center;
    transform: translate(12.5px, -21px) rotate(-45deg);
    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }

  .nav-bar {
    width: 48px;
    height: 48px;
    line-height: 48px;
    background-color: #e95036;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }

  .nav-bar > div {
    display: inline-block;
  }

  .nav-bar-1, .nav-bar-2, .nav-bar-3 {
    width: 24px;
    height: 2px;
    background-color: #fff;
  }

  .nav-bar-1 {
    margin-bottom: 10px;

    -ms-transition: all .2s ease-out .3s;
    -webkit-transition: all .2s ease-out .3s;
    transition: all .2s ease-out .3s;
  }

  .nav-bar-2 {
    -ms-transition: all .2s ease-out .4s;
    -webkit-transition: all .2s ease-out .4s;
    transition: all .2s ease-out .4s;
  }

  .nav-bar-3 {
    margin-top: 100px;
    opacity: 0;
  }

  .nav-content {
    visibility: hidden;

    width: 100vw;
    height: 100vh;
    background-color: #e95036;
    padding: 100vh 8.5vw 0;

    -ms-transition: padding .2s ease-out, opacity .1s ease-out .1s, visibility .1s ease-out .3s;
    -webkit-transition: padding .2s ease-out, opacity .1s ease-out .1s, visibility .1s ease-out .3s;
    transition: padding .2s ease-out, opacity .1s ease-out .1s, visibility .1s ease-out .3s;
  }

  .nav-content p {
    font-size: 32px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 48px;
    display: block;
  }

  /*red dot*/

  .jump {
    margin-bottom: 0;
  }

  #web-cover .jump, #app-cover .jump {
    margin-left: 0px;
    margin-bottom: 0px;
  }

  /*home*/
  #cover {
    padding-top: 72px;
  }

  #cover h1 {
    font-size: 32px;
  }

  #cover h3 {
    font-size: 14px;
  }

  .section-title {
    font-size: 32px;
  }

  #services {
    padding: 48px 8.5vw;
  }

  .service {
    margin: 5vh auto 0;
    padding: 7vh 0 0;
    position: relative;
  }

  .service-text {
    width: 100%;
  }

  .service > div h2 {
    font-size: 24px;
  }

  #service-1::after {
    content: "";
    width: 240px;
    height: 240px;
    background-image: url('./images/workshop.gif');
    background-repeat: no-repeat;
    background-size: 240px;
    background-position: right;
    margin: 16px auto 0;
    display: block;
  }

  #service-2::after {
    content: "";
    width: 240px;
    height: 240px;
    background-image: url('./images/drawing.gif');
    background-repeat: no-repeat;
    background-size: 240px;
    background-position: right;
    margin: 16px auto 0;
    display: block;
  }

  #service-3::after {
    content: "";
    width: 240px;
    height: 240px;
    background-image: url('./images/digging.gif');
    background-repeat: no-repeat;
    background-size: 240px;
    background-position: right;
    margin: 16px auto 0;
    display: block;
  }

  #service-4::after {
    content: "";
    width: 240px;
    height: 240px;
    background-image: url('./images/interviewing.gif');
    background-repeat: no-repeat;
    background-size: 240px;
    background-position: right;
    margin: 16px auto 0;
    display: block;
  }

  .gif {
    display: none;
  }

  #projects {
    padding: 84px 8.5vw 48px;
  }

  .project {
    width: 100%;
    display: block;
    margin: 68px 0 0;
  }

  .web, .app {
    width: 100%;
  }

  .app, .article {
    margin-top: 48px;
  }

  .web img, .app img {
    width: 64vw;
  }

  .article {
    width: 100%;
  }

  .article h3 {
    font-size: 16px;
  }

  #about {
    padding: 48px 8.5vw;
  }

  .belief, .members {
    width: 100%;
    margin-top: 50px;
  }

  .members h4 {
    margin-bottom: 24px;
  }

  .members-intro {
    display: block;
  }

  .member {
    width: 100%;
  }

  .member img {
    width: 58vw;
  }

  .member:nth-child(2) {
    margin-top: 48px;
  }

  #home-footer {
    height: 851px;
    display: block;
  }

  #home-footer > div {
    width: 100%;
    display: block;
  }

  #home-footer .contact-form {
    padding: 48px 0;
    padding-right: 8.5vw;
    padding-left: 8.5vw;
    background-color: #303030;
  }

  .contact-form form input, .contact-form form textarea, .contact-form form button {
    width: 100%;
  }

  #home-footer > img {
    width: 40vw;
    height: auto;
    top: 475px;
    right: 4px;
    padding-right: 0;
  }

  #home-footer .contact-info-set {
    height: 426px;
    position: absolute;
    bottom: 0;
    padding: 64px 8.5vw;
  }

  .contact-info img, .contact-info a > img {
    margin-right: 10px;
  }

  /*專案文章*/
  #web-top, #app-top {
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
  }

  #web-top h3, #app-top h3 {
    font-size: 24px;
    letter-spacing: 1.7px;
  }

  #web-cover, #app-cover {
    padding: 48px 8.5vw;
  }

  #web-cover h1, #app-cover h1 {
    margin-bottom: 0;
  }

  #web-cover img, #app-content img {
    margin: 24px 0;
  }

  #web-cover a, #app-cover a {
    width: 100%;
  }

  #web-content, #app-content {
    padding: 48px 8.5vw;
  }

  .medium h3 {
    margin-bottom: 25px;
  }

  .medium > div {
    display: block;
  }

  .medium a {
    width: 100%;
  }

  .medium a:nth-child(1) {
    margin-bottom: 16px;
  }

  #web-contact, #app-contact {
    padding: 48px 8.5vw 39px;
  }

  #web-contact form, #app-contact form {
    display: block;
  }

  .contact-form form textarea, #web-contact form textarea, #app-contact form textarea,
  .contact-form form button, #web-contact form button, #app-contact form button {
    margin-top: 16px;
    width: 100%;
  }

  .contact-form form input, #web-contact form input, #app-contact form input {
    width: 100%;
  }
}