* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

#project-intro {
  display: none;
}

#cover {
  padding: 0 12.5%;
  height: 75vh;
  background-color: #fff;
}

#cover:before {
  content: "";
  display: inline-block;
  height: 70vh;
  vertical-align: middle;
}

#cover > div {
  display: inline-block;
  vertical-align: middle;
}

#cover h1 {
  font-size: 72px;
  font-weight: 500;
  color: #030303;
  letter-spacing: 5px;
}

#cover h3 {
  font-size: 32px;
  font-weight: 100;
  color: #222222;
  letter-spacing: 4px;
}

#services {
  padding: 32px 12.5% 27px;
  background-color: #fff;
  position: relative;
}

#services > p, #projects > p, #about > p {
  font-size: 72px;
  font-weight: 900;
  color: #000000;
}

.service {
  padding: 0 5%;
  margin: 100px auto 0;
}

.service > div {
  width: 69%;
  display: inline-block;
  vertical-align: middle;
}

.service:nth-child(2) {
  background-image: url('./images/01.png');
  background-size: 17vh;
  background-repeat: no-repeat;
}

.service:nth-child(4) {
  background-image: url('./images/03.png');
  background-size: 17vh;
  background-repeat: no-repeat;
}

.service > div h2 {
  font-size: 32px;
  font-weight: 300;
  color: #000000;
  margin: 0 0 14px 16px;
}

.service > div p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}

.service > img {
  width: 30%;
  vertical-align: middle;
}

#projects {
  padding: 152px 12.5% 73px;
}

.project, .article {
  width: 90%;
  margin: 0 auto;
}

.project {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.article {
  margin-top: 60px;
}

.web, .app {
  width: 42%;
  display: inline-block;
  background-image: url('./images/dot.png');
  background-size: 139px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.web img, .app img {
  width: 24vw;
}

.article img {
  width: 100%;
}

.project h4, .article h4 {
  font-size: 32px;
  font-weight: 500;
  color: #0f0f0f;
  margin-bottom: 14px;
}

.project p, .article p {
  font-size: 18px;
  font-weight: bold;
  color: #e95036;
}

.project p {
  margin-top: 13px;
}

.article p {
  margin-top: 5px;
}

.article h3 {
  font-size: 24px;
  font-weight: 500;
  color: #0f0f0f;
  margin-top: 13px;
}

#about {
  padding: 80px 12.5% 136px;
  background-color: #fff;
}

.belief, .members {
  width: 90%;
  margin: 0 auto;
}

.belief {
  margin-top: 64px;
}

.members {
  margin-top: 91px;
}

.belief h4, .members h4 {
  font-size: 32px;
  font-weight: 500;
  color: #e95036;
}

.belief h4 {
  margin-bottom: 17px;
}

.members h4 {
  margin-bottom: 32px;
}

.belief p {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
}

.members-intro {
  display: flex;
  justify-content: space-between;
}

.member {
  width: 43%;
  display: inline-block;
  background-image: url('./images/dot.png');
  background-size: 139px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.member img {
  width: 22vw;
}

.member p:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  color: #e95036;
  margin-top: 14px;
}

.member p:nth-child(3) {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  margin-top: 4px;
}

#home-footer {
  height: 481px;
  display: flex;
  justify-content: center;
  position: relative;
}

#home-footer > img {
  position: absolute;
  top: 75px;
  padding-right: 55px;
  height: 70%;
}

#home-footer > div {
  width: 50%;
  padding-top: 87px;
}

#home-footer .contact-info-set {
  padding-left: 12.5%;
}

#home-footer .contact-form {
  padding-right: 12.5%;
  padding-left: 10%;
}

#home-footer > div img {
  vertical-align: middle;
}

#home-footer h3 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 2.2px;
  color: #030303;
  display: inline-block;
  vertical-align: middle;
}

.contact-info h5 {
  font-size: 18px;
  font-weight: bold;
  color: #e95036;
  margin: 44px 0 19px;
}

.contact-info > div:nth-child(3) {
  margin: 15px 0 21px;
}

.contact-info > div img {
  width: 27px;
  margin-right: 10px;
  vertical-align: middle;
}

.contact-info > div p {
  font-size: 16px;
  color: #626262;
  display: inline-block;
  vertical-align: middle;
}

.contact-info > img {
  width: 40px;
  margin-right: 18px;
}

.contact-form {
  background-image: url("./images/formBg.png");
  background-size: cover;
}

.contact-form h5, #contact h5 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.contact-form h5 {
  margin-left: 16px;
}

.contact-form form ::placeholder, #contact form ::placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #cecac9;;
}

.contact-form form input, #contact form input {
  width: 35vw;
  max-width: 300px;
  height: 40px;
  padding: 0 16px;
  border: none;
  border-radius: 24px;
  margin-top: 24px;
  display: block;
  outline: none;
}

.contact-form form textarea, #contact form textarea {
  width: 35vw;
  max-width: 300px;
  height: 96px;
  padding: 12px 16px;
  resize: none;
  border: none;
  border-radius: 24px;
  margin-top: 16px;
  display: block;
  outline: none;
}

.contact-form form button, #contact form button {
  width: 35vw;
  max-width: 300px;
  height: 40px;
  border: none;
  border-radius: 24px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #e95036;
  margin-top: 16px;
  display: block;
  outline: none;
}

/*專案文章*/

#top {
  padding: 24px 32px;
  background-color: #fff;
}

#top img {
  margin-right: 17px;
  vertical-align: middle;
}

#top h3 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2.2px;
  color: #030303;
  display: inline-block;
  vertical-align: middle;
}

#project-cover {
  padding: 48px 122px;
}

#project-cover h1 {
  font-size: 32px;
  font-weight: 900;
  color: #000000;
  margin-left: 20px;
  margin-bottom: 24px;
}

#project-cover h1 span {
  font-size: 32px;
  font-weight: normal;
  color: #0f0f0f;
  margin-left: 16px;
}

#project-cover img {
  margin-bottom: 24px;
}

#project-cover h3 {
  font-size: 32px;
  font-weight: 500;
  color: #0f0f0f;
  margin-bottom: 13px;
}

#project-cover p {
  font-size: 24px;
  color: #000000;
  margin-bottom: 24px;
}

#project-cover a, .medium a {
  width: 300px;
  height: 48px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  display: block;
  line-height: 48px;
  text-align: center;
  border-radius: 24px;
  margin: 0 auto;
}

#project-cover a, .medium a:nth-child(5) {
  background-color: #e95036;
}

.medium a:nth-child(4) {
  background-color: #313131;
}

#project-content {
  padding: 48px 198px;
  background-color: #fff;
  position: relative;
}

#project-content > div {
  margin-bottom: 48px;
}

#project-content h4 {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}

#project-content p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}

#project-content .medium h4 {
  font-size: 32px;
  font-weight: 500;
  color: #0f0f0f;
  margin-bottom: 24px;
}

.medium img {
  margin-bottom: 16px;
}

.medium h3 {
  font-size: 24px;
  font-weight: 500;
  color: #0f0f0f;
  margin-bottom: 49px;
}

.medium a {
  display: inline-block;
}

#project-content a.back-arrow, #project-content a.next-arrow {
  font-size: 18px;
  font-weight: bold;
  color: #e95036;
}

#project-content a.next-arrow {
  position: absolute;
  bottom: 48px;
  right: 198px;
}

#contact {
  height: 399px;
  background-color: #313131;
  text-align: center;
  padding-top: 48px;
}

#contact form {
  display: inline-block;
  margin: 0 auto;
}

#project-footer {
  padding: 30px;
  text-align: center
}

#project-footer > div {
  margin-bottom: 12px;
}

#project-footer img:nth-child(1) {
  vertical-align: middle;
}

#project-footer h6 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.3px;
  color: #030303;
  display: inline-block;
  vertical-align: middle;
}

#project-footer p {
  font-size: 16px;
  color: #db3324;
  margin-bottom: 8px;
}

#project-footer img {
  width: 26px;
}


/*手機版*/

@media only screen and (max-width: 430px) {
  #home-footer {
    height: 851px;
    display: block;
  }

  #home-footer > div {
    width: 100%;
    display: block;
  }

  #home-footer .contact-form {
    padding: 48px 0;
    padding-right: 32px;
    padding-left: 32px;
    background-color: #303030;
  }

  .contact-form form input, .contact-form form textarea, .contact-form form button {
    width: 100%;
  }

  #home-footer > img {
    height: 251px;
    top: 480px;
    right: 13px;
    padding-right: 0;
  }

  #home-footer .contact-info-set {
    height: 426px;
    position: absolute;
    bottom: 0;
    padding: 64px 32px;
  }

  .contact-info img {
    margin-right: 10px;
  }
}